body{
	/*background:url("glossymetal.jpg") repeat scroll left top transparent;*/
	
}

#wrapper{
	color:#000000;
	font-family:tahoma;
	font-size:14px;
	margin:0 auto;
	width:800px;
	margin-top:50px;
}

#wrapper a{
	cursor:pointer;
	font-size:15px;
	font-weight:bold;
	text-decoration:underline;
}

.box {
    background-color: #ffffff;
    color: #888888;
    height: 315px;
    left: 100%;
    /*padding: 20px;*/
    position: fixed;
    right: 30%;
    top: 40%;
    width: 455px;
    z-index: 101;
	border:5px solid #888888;
	/*border-radius:10px;
	-moz-border-radius:10px;*/
}

.overlay {
    background: #000000;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
	opacity:0.5;
}

a.boxclose {
    background: url("cancel.html") repeat scroll left top transparent;
    cursor: pointer;
    float: right;
    height: 26px;
    left: 15px;
    position: relative;
    top: -10px;
    width: 26px;
}


#contentpop
{
	width: 454px;  
	background: #FFFFFF url(../Images/popup.jpg) no-repeat;
	margin: 0 auto; 
	font-size:14px;
	text-align: left;
	height:315px;
	
	}
	
	
	
	
	
	
	
	
#popUpDiv {
	position:absolute;
	background:url(../Images/popup.jpg) no-repeat;
	width:454px;
	height:315px;
	z-index: 9002;
	/*display:block;*/
	
}

#popUpDiv a {
	position:relative;
	top:233px;
	left:120px;
	margin-right:35px;
	border:none;
}